<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laibandis.gaba">

    <application
        android:label="WS Hook"
        android:allowBackup="false">

        <!-- Обязательно для LSPosed -->
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>

        <meta-data
            android:name="xposeddescription"
            android:value="WebSocket hook for logging wss and push events"/>

        <meta-data
            android:name="xposedminversion"
            android:value="82"/>

    </application>

</manifest>
